html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
       Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    background: white;
 }
h1 {
    text-align: center;
}
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
 }
 
 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem auto;
 }
 
 .slider {
    width: 350px;
    height: 500px;
    margin: 0 auto;
    background: white;
    overflow: hidden;
 }
 
 .slider__wrapper {
    height: 500px;
    transition: transform 0.3s;
 }
 
 .slide {
    position: relative;
    float: left;
    width: 350px;
    height: 500px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    pointer-events: none;
 
    &::before {
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 40%;
       background: linear-gradient(transparent, black);
    }
 }
 
 .slide__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
 }
 
 .slide__text {
    position: absolute;
    color: white;
    bottom: 0.625rem;
    left: 0;
    padding: 1.25rem;
 }
 
 .swipe {
    margin-top: 2.5rem;
 }
 
 
 @keyframes moving-finger {
    from {
       transform: translatex(10px);
    }
    to {
       transform: translatex(0);
    }
 }